.test {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.text {
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.empty {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(199, 199, 199);
    margin: 0px 8px;
    font-weight: 600;
    font-size: 15px;
    display: inline-flex;
    justify-content: center;
}

.answers {
    margin-top: 15px;
}

.answer {
    padding: 10px;
    min-width: 50px;
    min-height: 39px;
    border-radius: 12px;
    border: 1px solid rgb(199, 199, 199);
    margin: 0px 8px;
    font-weight: 600;
    font-size: 15px;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    transition: .1s linear;
}

.answer:hover {
    background-color: rgba(216, 216, 216, 0.521);
}

.answer.active {
    cursor: default;
    background-color: rgba(216, 216, 216, 0.781);
}

.answer.disabled:hover,
.answer.answer.disabled:active {
    background-color: transparent;
    cursor: default;
}

.succes,
.succes:hover,
.succes:active {
    cursor: default;
    background-color: rgb(151, 255, 165);
}

.reject,
.reject:hover,
.reject:active {
    cursor: default;
    background-color: rgb(255, 105, 105);
}